.project-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.project-intro {
  text-align: center;
  margin-bottom: 30px;
}

.project-intro h1 {
  font-size: 2.5rem;
  color: #333;
  /* Dark grey color for the title */
}

.project-intro p {
  font-size: 1.2rem;
  color: #666;
  /* Lighter grey for the paragraph text */
}

.project-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  /* Added margin bottom for spacing */
}

.feature {
  background-color: #eee;
  /* Light grey background for feature boxes */
  color: #333;
  /* Dark grey text for feature title */
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  height: 150px;
  /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.feature h2 {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.feature:hover {
  transform: scale(1.05);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 11, 13, 0.8);
  /* Dark translucent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  /* Blurring the background content */
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  /* Semi-transparent white background */
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  /* Adjust as needed */
  width: 80%;
  outline: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.close-icon {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Additional styles if you need for buttons or other elements */